<!DOCTYPE html><html>
<head>
	<link rel="stylesheet" type="text/css" href="proba.css">
 <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Yellowtail" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=VT323|Work+Sans:900" rel="stylesheet">


</head><body>

<video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="Tarmac-SD.mp4" type="video/webm">
<source src="Tarmac-SD.mp4" type="video/mp4">
</video>

<p class="left">The website is currently<br> being developed.<br>Come back on November 1st.</p>
<p class="left1">Contact me here: <a class="link_left" href="mailto:markomajkic0@gmail.com?Subject=Hello%20again" target="_top">markomajkic0@gmail.com</a></p>
<p class="right">My name is Marko Majkic<br> and I am full-stack web developer.<br>
  Starting from November, you will be able<br> to find all of my past and future projects<br>
  on this website.</p>
<div class="watch">
  <div class="strap"></div>
  <div class="face">
    <div class="numeral n-12"></div>
    <div class="numeral n-3"></div>
    <div class="numeral n-6"></div>
    <div class="numeral n-9"></div>
    <div class="logo">soon</div>
    <div id="day" class="day"></div>
    <div id="hours" class="hand hours"></div>
    <div id="mins" class="hand mins"></div>
    <div id="secs" class="hand secs"></div>
    <div class="cntrpt"></div>
  </div>
  <div class="crown"></div>
</div>
  <script src="proba.js"></script>
</body></html>